<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link <%= class_names(collapsed: !current_page?('/admin')) %>" href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse <%= class_names(show: components?) %>" data-bs-parent="#sidebar-nav">
        <li>
          <%= nav_link admin_components_alert_path do %>
            <i class="bi bi-circle"></i><span>Alerts</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_accordion_path do %>
            <i class="bi bi-circle"></i><span>Accordion</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_badges_path do %>
            <i class="bi bi-circle"></i><span>Badges</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_breadcrumbs_path do %>
            <i class="bi bi-circle"></i><span>Breadcrumbs</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_buttons_path do %>
            <i class="bi bi-circle"></i><span>Buttons</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_cards_path do %>
            <i class="bi bi-circle"></i><span>Cards</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_carousel_path do %>
            <i class="bi bi-circle"></i><span>Carousel</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_list_group_path do %>
            <i class="bi bi-circle"></i><span>List group</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_modal_path do %>
            <i class="bi bi-circle"></i><span>Modal</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_tabs_path do %>
            <i class="bi bi-circle"></i><span>Tabs</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_pagination_path do %>
            <i class="bi bi-circle"></i><span>Pagination</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_progress_path do %>
            <i class="bi bi-circle"></i><span>Progress</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_spinners_path do %>
            <i class="bi bi-circle"></i><span>Spinners</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_components_tooltips_path do %>
            <i class="bi bi-circle"></i><span>Tooltips</span>
          <% end %>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse <%= class_names(show: forms?) %>" data-bs-parent="#sidebar-nav">
        <li>
          <%= nav_link admin_forms_elements_path do %>
            <i class="bi bi-circle"></i><span>Form Elements</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_forms_layouts_path do %>
            <i class="bi bi-circle"></i><span>Form Layouts</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_forms_editors_path do %>
            <i class="bi bi-circle"></i><span>Form Editors</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_forms_validation_path do %>
            <i class="bi bi-circle"></i><span>Form Validation</span>
          <% end %>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse <%= class_names(show: tables?) %>" data-bs-parent="#sidebar-nav">
        <li>
          <%= nav_link admin_tables_general_path do %>
            <i class="bi bi-circle"></i><span>General Tables</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_tables_data_path do %>
            <i class="bi bi-circle"></i><span>Data Tables</span>
          <% end %>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse <%= class_names(show: charts?) %>" data-bs-parent="#sidebar-nav">
        <li>
          <%= nav_link admin_charts_chartjs_path do %>
            <i class="bi bi-circle"></i><span>Chart.js</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_charts_apexcharts_path do %>
            <i class="bi bi-circle"></i><span>ApexCharts</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_charts_echarts_path do %>
            <i class="bi bi-circle"></i><span>ECharts</span>
          <% end %>
        </li>
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse <%= class_names(show: icons?) %>" data-bs-parent="#sidebar-nav">
        <li>
          <%= nav_link admin_icons_bootstrap_path do %>
            <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_icons_remix_path do %>
            <i class="bi bi-circle"></i><span>Remix Icons</span>
          <% end %>
        </li>
        <li>
          <%= nav_link admin_icons_boxicons_path do %>
            <i class="bi bi-circle"></i><span>Boxicons</span>
          <% end %>
        </li>
      </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <%= nav_page_link admin_pages_profile_path do %>
        <i class="bi bi-person"></i>
        <span>Profile</span>
      <% end %>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <%= nav_page_link admin_pages_faq_path do %>
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      <% end %>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <%= nav_page_link admin_pages_contact_path do %>
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      <% end %>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <%= nav_page_link admin_pages_register_path do %>
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      <% end %>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <%= nav_page_link admin_pages_login_path do %>
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      <% end %>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
      <%= nav_page_link admin_pages_error_path do %>
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      <% end %>
    </li><!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <%= nav_page_link admin_pages_blank_path do %>
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      <% end %>
    </li><!-- End Blank Page Nav -->

  </ul>

</aside><!-- End Sidebar-->
