<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "app", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "app", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <style><%= yield :stylesheets %></style>
    <%- javascript_include_tag "index", "data-turbo-track": "reload", defer: true %>
    <%= display_meta_tags site: ENV["website_title"] %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
